.grow-up-container{
    width: 100%;
    background: rgb(17, 17, 112);
}
.grow-up-content-d{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 120px 100px 98px 100px;
    box-sizing: border-box;
    gap: 20px;
}
.grow-up-content-right-d{
    width: 100%;
    max-width: 728px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.grow-up-content-right-d h2{
    font-family: Exo 2;
    font-size: 60px;
    font-weight: 800;
    line-height: 60px;
    text-align: left;
    color: rgba(255, 255, 255, 1);
    margin: 0;
    text-transform: uppercase;
}
.grow-up-content-right-d h2 span{
    font-family: Exo 2;
    font-size: 60px;
    font-weight: 800;
    line-height: 60px;
    text-align: left;
    color: rgba(15, 111, 255, 1);
    margin: 0;
} 
.grow-up-content-right-d p{
    font-family: Aeonik;
    font-size: 22px;
    font-weight: 500;
    line-height: 32px;
    text-align: left;
    color: rgba(255, 255, 255, 1);
     margin: 0;
}
.grow-up-content-left-d{
    width: 134px;
    display: flex;
    justify-content: space-between;
    gap: 4px;
    padding: 40.5px 0px;
}
.grow-up-content-arrow{
    display: flex;
    width: 65px;
    height: 65px;
    /* padding: 25px 30px; */
    gap: 10px;
    border-radius: 100px;
    background: rgba(15, 111, 255, 1);
    justify-content: center;

}
.grow-up-content-arrow img{
       width: 24px;   
}

@media screen and (min-width:870px) and (max-width:1030px) {
    .grow-up-content-d{
        padding: 90px 70px 98px 70px;
    }
    .grow-up-content-right-d{
        width: 100%;
        max-width: 628px;
    }
    .grow-up-content-right-d h2{
        font-size: 52px;
        line-height: 60px;
    }
    .grow-up-content-right-d h2 span{
        font-size: 52px;
        line-height: 60px;
    }
    .grow-up-content-right-d p{
        font-size: 20px;
        line-height: 32px;
    }
}


@media screen and (min-width:700px) and (max-width:870px) {
    .grow-up-content-d{
        padding: 60px 50px 58px 50px;
    }
    .grow-up-content-right-d{
        width: 100%;
        max-width: 500px;
    }
    .grow-up-content-right-d h2{
        font-size: 44px;
        line-height: 50px;
    }
    .grow-up-content-right-d h2 span{
        font-size: 44px;
        line-height: 50px;
    }
    .grow-up-content-right-d p{
        font-size: 16px;
        line-height: 32px;
    }
    .grow-up-content-left-d{
        width: 120px;
        display: flex;
        justify-content: space-between;
        gap: 4px;
        padding: 30.5px 0px;
    }
    .grow-up-content-arrow{
        display: flex;
        width: 55px;
        height: 55px;
        /* padding: 25px 30px; */
        gap: 10px;
        border-radius: 100px;
        background: rgba(15, 111, 255, 1);
        justify-content: center;
    
    }
    .grow-up-content-arrow img{
           width: 20px;   
    }
}


@media screen and (min-width:414px)  and (max-width:700px){
    .grow-up-content-d{
        padding: 40px 20px 48px 20px;
        flex-direction: column;
    }
    .grow-up-content-right-d{
        width: 100%;
        gap: 10px;
    }
    .grow-up-content-right-d h2{
        font-size: 36px;
        line-height: 40px;
    }
    .grow-up-content-right-d h2 span{
        font-size: 36px;
        line-height: 40px;
    }
    .grow-up-content-right-d p{
        font-size: 16px;
        line-height: 22px;
    }
    .grow-up-content-left-d{
        width: 134px;
        display: flex;
        justify-content: space-between;
        gap: 4px;
        padding: 0px;
       margin: 0px auto;
    }
    .grow-up-content-arrow{
        display: flex;
        width: 55px;
        height: 55px;
        /* padding: 25px 30px; */
        gap: 10px;
        border-radius: 100px;
        background: rgba(15, 111, 255, 1);
        justify-content: center;
    
    }
    .grow-up-content-arrow img{
           width: 20px;   
    }
}

@media screen and (max-width:414px){
    .grow-up-content-d{
        padding: 40px 20px 48px 20px;
        flex-direction: column;
    }
    .grow-up-content-right-d{
        width: 100%;
        gap: 10px;
    }
    .grow-up-content-right-d h2{
        font-size: 20px;
        line-height: 30px;
    }
    .grow-up-content-right-d h2 span{
        font-size: 20px;
        line-height: 30px;
    }
    .grow-up-content-right-d p{
        font-size: 14px;
        line-height: 22px;
    }
    .grow-up-content-left-d{
        width: 110px;
        display: flex;
        justify-content: space-between;
        gap: 4px;
        padding: 0px;
       margin: 0px auto;
    }
    .grow-up-content-arrow{
        display: flex;
        width: 50px;
        height: 50px;
        /* padding: 25px 30px; */
        gap: 10px;
        border-radius: 100px;
        background: rgba(15, 111, 255, 1);
        justify-content: center;
    
    }
    .grow-up-content-arrow img{
           width: 20px;   
    }
}
