.main-container{
    width: 100%;
    background: radial-gradient !important;
    
}  
.main-container-part-1{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 110px 89px 180px 100px;
    box-sizing: border-box;
    gap: 20px;
}
.right-part-main-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.first-part{
    width: 100%;
    max-width: 604px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
 .part1{
    width: 100%;
    max-width:236px;
    padding: 15px;
    gap: 10px;
    border-radius: 16px;
    border: 1px solid rgba(15, 111, 255, 0.3);
}
.part1 p{
    font-family: Exo 2;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.6px;
    text-align: left;
    color: rgba(255, 255, 255, 1);
    margin: 0;
}
.part2{
    width: 100%;
    max-width: 604px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.part2-top-side{
    width: 100%;
    max-width: 580px;
    /* border: 1px solid rgba(15, 111, 255, 1);   */
}
.part2-top-side h2{
    font-family: Exo 2;
    font-size: 80px;
    font-weight: 800;
    line-height: 88px;
    text-align: left;
    color: rgba(255, 255, 255, 1);
    text-shadow: 4px 4px 4px black,6px 6px 2px blue;
    margin: 0;
}
.part2-top-side h2 span{
    font-family: Exo 2;
    font-size: 80px;
    font-weight: 800;
    line-height: 88px;
    text-align: left;
    color: rgba(15, 111, 255, 1); 
    margin: 0;
}
.part2-bottom-side{
    width: 100%;
    max-width: 500px;
}
.part2-bottom-side p{
    font-family: Montserrat;
    font-size: 22px;
    font-weight: 500;
    line-height: 30px;
    text-align: left;
    color: rgba(255, 255, 255, 1);
    margin: 0;
}
.second-part{
    width: 100%;
    max-width: 334px;
    display: flex;
    /* justify-content: space-between; */
    gap: 20px;
}
.right-btn{
    width: 160px;
    display: flex;
    justify-content: center;
    padding: 25px 30px;
    gap: 10px;
    border-radius: 16px;
    background: rgba(15, 111, 255, 1);
}
.right-btn button{
    border: none;
    background: none;
    outline: none;
    font-family: Exo 2;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: rgba(255, 255, 255, 1);
    margin: 0;
}
.left-btn-d{
    width: 164px;
    display: flex;
    justify-content: center;
    padding: 25px 30px;
    gap: 10px;
    border-radius: 16px;
    border: 1px solid rgba(255, 255, 255, 1);
}
.left-btn-d button{
    border: none;
    background: none;
    outline: none;
    font-family: Exo 2;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: rgba(255, 255, 255, 1);
    margin: 0;
}
.left-part-main-container-d {
    width: 100%;
    max-width: 580px;
    height: 380px;
    padding: 71.5px 0px;
}
.left-part-main-container-d video{
    width:100%;
    border-radius: 40px; 
}
.main-container-part-2{
    width: 100%;
}
.main-container-part-2 p{
    font-family: Exo 2;
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    text-align: center;
    color: rgba(255, 255, 255, 1);
    margin: 0;
}
.marquee-pic marquee{
  width: 100%;
  padding: 40px 0px;
  display: flex;
}
.marquee-pic marquee img{
    margin-right: 40px;
}

@media screen and (min-width:1200px) and (max-width:1300px) {
    .right-btn{
        width: 160px;
        padding: 15px 30px;
    }
    .left-btn-d{
        width: 164px;
        padding: 15px 30px;
    }
}


@media screen and (min-width:850px) and (max-width:1200px) {
    .main-container-part-1{
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 90px 59px 130px 70px;
        box-sizing: border-box;
        gap: 20px;
    }
    .first-part{
        width: 100%;
        max-width: 504px;
    }
     .part1{
        width: 100%;
        max-width:236px;
    }
    .part1 p{
        font-size: 18px;
    }
    .part2{
        width: 100%;
        max-width: 504px;
    }
    .part2-top-side{
        width: 100%;
        max-width: 480px;
    }
    .part2-top-side h2{
        font-size: 56px;
    }
    .part2-top-side h2 span{
       font-size: 56px;
    }
    .part2-bottom-side{
        width: 100%;
        max-width: 400px;
    }
    .part2-bottom-side p{
        font-size: 18px;
    }
    .right-btn{
        width: 160px;
        padding: 15px 30px;
    }
    .left-btn-d{
        width: 164px;
        padding: 15px 30px;
    }
}



@media screen and (min-width:700px) and (max-width:870px) {
    .main-container-part-1{
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 50px 40px 50px 40px;
        box-sizing: border-box;
        gap: 20px;
    }
    .first-part{
        width: 100%;
        max-width: 450px;
    }
     .part1{
        width: 100%;
        max-width:180px;
    }
    .part1 p{
        font-size: 14px;
    }
    .part2{
        width: 100%;
        max-width: 450px;
    }
    .part2-top-side{
        width: 100%;
        max-width: 450px;
    }
    .part2-top-side h2{
        font-size: 44px;
        line-height: 50px;
    }
    .part2-top-side h2 span{
       font-size: 44px;
       line-height: 50px;
    }
    .part2-bottom-side{
        width: 100%;
        max-width: 400px;
    }
    .part2-bottom-side p{
        font-size: 14px;
    }
    .right-btn{
        width: 100px;
        padding: 10px 15px;
        gap: 10px;
        border-radius: 16px;
        background: rgba(15, 111, 255, 1);
    }
    .left-btn-d{
        width: 104px;
        padding: 10px 15px;
        gap: 10px;
        border-radius: 16px;
        border: 1px solid rgba(255, 255, 255, 1);
    }
}

@media screen  and (min-width:440px) and (max-width:700px) {
    .main-container-part-1{
         flex-direction: column;
        padding: 30px 20px 30px 20px;

    }
    .first-part{
        width: 100%;
    }
     .part1{
        width: 180px;

    }
    .part1 p{
        font-size: 14px;
    }
    .part2{
        width: 100%;
    }
    .part2-top-side{
        width: 100%;
    }
    .part2-top-side h2{
        font-size: 48px;
        line-height: 60px;
    }
    .part2-top-side h2 span{
       font-size: 48px;
       line-height: 60px;
    }
    .part2-bottom-side{
        width: 100%;
    }
    .part2-bottom-side p{
        font-size: 14px;
    }
    .right-btn{
        width: 100px;
        padding: 15px 15px;
        gap: 10px;
        border-radius: 16px;
        background: rgba(15, 111, 255, 1);
    }
    .left-btn-d{
        width: 104px;
        padding: 15px 15px;
        gap: 10px;
        border-radius: 16px;
        border: 1px solid rgba(255, 255, 255, 1);
    }
    .left-part-main-container-d {
        height: 200px;
        padding:0px;
    }
    .left-part-main-container-d video{
        border-radius: 20px; 
    }
    .main-container-part-2{
        width: 100%;
        padding-top: 100px;
    }
    .main-container-part-2 p{
        font-family: Exo 2;
        font-size: 14px;
        font-weight: 700;
        line-height: 36px;
        text-align: center;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        color: rgba(255, 255, 255, 1);
        margin: 0;
    }
    .marquee-pic marquee{
        width: 100%;
        padding: 20px 0px;
      }
      .marquee-pic marquee img{
        width: 130px;
        margin-right: 20px;
      }
}




@media screen  and (min-width:350px) and (max-width:440px) {
    .main-container-part-1{
         flex-direction: column;
        padding: 30px 20px 30px 20px;

    }
    .first-part{
        width: 100%;
    }
     .part1{
        width: 150px;

    }
    .part1 p{
        font-size: 12px;
    }
    .part2{
        width: 100%;
    }
    .part2-top-side{
        width: 100%;
    }
    .part2-top-side h2{
        font-size: 44px;
        line-height: 40px;
    }
    .part2-top-side h2 span{
       font-size: 44px;
       line-height: 40px;
    }
    .part2-bottom-side{
        width: 100%;
    }
    .part2-bottom-side p{
        font-size: 14px;
    }
    .right-btn{
        width: 100px;
        padding: 15px 15px;
        gap: 10px;
        border-radius: 16px;
        background: rgba(15, 111, 255, 1);
    }
    .left-btn-d{
        width: 104px;
        padding: 15px 15px;
        gap: 10px;
        border-radius: 16px;
        border: 1px solid rgba(255, 255, 255, 1);
    }
    .left-part-main-container-d {
        height: 200px;
        padding:0px;
    }
    .left-part-main-container-d video{
        border-radius: 20px; 
    }
    .main-container-part-2 p{
        font-family: Exo 2;
        font-size: 18px;
        font-weight: 700;
        line-height: 36px;
        text-align: center;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        color: rgba(255, 255, 255, 1);
        margin: 0;
    }
    .main-container-part-3{
        gap: 20px;
    }
    .marquee-pic marquee{
        width: 100%;
        padding: 20px 0px;
      }
      .marquee-pic marquee img{
        width: 100px;
        margin-right: 20px;
      }
}



@media screen  and (max-width:350px){
    .main-container-part-1{
         flex-direction: column;
        padding: 30px 20px 30px 20px;

    }
    .first-part{
        width: 100%;
    }
     .part1{
        width: 150px;

    }
    .part1 p{
        font-size: 12px;
    }
    .part2{
        width: 100%;
    }
    .part2-top-side{
        width: 100%;
    }
    .part2-top-side h2{
        font-size: 32px;
        line-height: 40px;
    }
    .part2-top-side h2 span{
       font-size: 32px;
       line-height: 40px;
    }
    .part2-bottom-side{
        width: 100%;
    }
    .part2-bottom-side p{
        font-size: 14px;
    }
    .right-btn{
        width: 100px;
        padding: 15px 15px;
        gap: 10px;
        border-radius: 16px;
        background: rgba(15, 111, 255, 1);
    }
    .left-btn-d{
        width: 104px;
        padding: 15px 15px;
        gap: 10px;
        border-radius: 16px;
        border: 1px solid rgba(255, 255, 255, 1);
    }
    .left-part-main-container-d {
        height: 200px;
        padding:0px;
    }
    .left-part-main-container-d video{
        border-radius: 20px; 
    }
    .main-container-part-2 p{
        font-family: Exo 2;
        font-size: 18px;
        font-weight: 700;
        line-height: 36px;
        text-align: center;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        color: rgba(255, 255, 255, 1);
        margin: 0;
    }
    .main-container-part-3{
        gap: 20px;
    }
    .marquee-pic marquee{
        width: 100%;
        padding: 20px 0px;
      }
      .marquee-pic marquee img{
        width: 100px;
        margin-right: 20px;
      }
}