.wining-process-container{
    width: 100%;
    background: rgba(6, 31, 69, 0.751) !important;
}
.wining-content-d{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 120px 100px 98px 100px;
    box-sizing: border-box;
    gap: 20px;
}
.wining-content-right-d{
    width: 100%;
    max-width: 728px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.wining-content-right-d h2{
    font-family: Exo 2;
    font-size: 60px;
    font-weight: 800;
    line-height: 60px;
    text-align: left;
    color: rgba(255, 255, 255, 1);
    margin: 0;
}
.wining-content-right-d h2 span{
    font-family: Exo 2;
    font-size: 60px;
    font-weight: 800;
    line-height: 60px;
    text-align: left;
    color: rgba(15, 111, 255, 1);
    margin: 0;
} 
.wining-content-right-d p{
    font-family: Aeonik;
    font-size: 22px;
    font-weight: 500;
    line-height: 32px;
    text-align: left;
    color: rgba(255, 255, 255, 1);
     margin: 0;
}
.wining-content-left-d{
    width: 134px;
    display: flex;
    justify-content: space-between;
    gap: 4px;
    padding: 40.5px 0px;
}
.wining-content-arrow{
    display: flex;
    width: 65px;
    height: 65px;
    /* padding: 25px 30px; */
    gap: 10px;
    border-radius: 100px;
    background: rgba(15, 111, 255, 1);
    justify-content: center;

}
.wining-content-arrow img{
       width: 24px;   
}



/* part-2 for cards */

.wining-cards-container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    padding: 0px 0px 116px 52px;
    box-sizing: border-box;
    gap: 20px;
}
.wining-card-d{
    width: 100%;
    max-width: 356px;
    padding: 30px 20px;
    gap: 12px;
    border-radius: 20px 20px 20px 0px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(150px);
}
.wining-card-d-4{
    width: 100%;
    max-width: 356px;
    padding: 30px 20px;
    gap: 12px;
    border-radius: 0px 20px 20px 20px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(150px);
}
.wining-card-content{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.wining-card-content h2{
    font-family: Exo 2;
    font-size: 28px;
    font-weight: 700;
    line-height: 33.6px;
    text-align: left; 
    color: rgba(255, 255, 255, 1);
    margin: 0;
}
.wining-card-content p{
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.5px;
    text-align: left;
    color: rgba(255, 255, 255, 1);
    margin: 0;
}



@media screen and (min-width:745px) and (max-width:920px){
    .wining-cards-container{
        padding: 0px 20px 116px 42px;
    }
    .wining-card-d{
        width: 100%;
        max-width: 290px;
    }
    .wining-card-d-4{
        width: 100%;
        max-width: 290px;
    }
}   

@media screen and (max-width:745px){
    .wining-cards-container{
        padding: 0px 10px 116px 30px;
    }
    .wining-card-d{
        width: 100%;
    }
    .wining-card-d-4{
        width: 100%;
    }
}  















@media screen and (min-width:870px) and (max-width:1030px) {
    .wining-content-d{
        padding: 90px 70px 98px 70px;
    }
    .wining-content-right-d{
        width: 100%;
        max-width: 628px;
    }
    .wining-content-right-d h2{
        font-size: 52px;
        line-height: 60px;
    }
    .wining-content-right-d h2 span{
        font-size: 52px;
        line-height: 60px;
    }
    .wining-content-right-d p{
        font-size: 20px;
        line-height: 32px;
    }
}


@media screen and (min-width:700px) and (max-width:870px) {
    .wining-content-d{
        padding: 60px 50px 58px 50px;
    }
    .wining-content-right-d{
        width: 100%;
        max-width: 500px;
    }
    .wining-content-right-d h2{
        font-size: 44px;
        line-height: 50px;
    }
    .wining-content-right-d h2 span{
        font-size: 44px;
        line-height: 50px;
    }
    .wining-content-right-d p{
        font-size: 16px;
        line-height: 32px;
    }
    .wining-content-left-d{
        width: 120px;
        display: flex;
        justify-content: space-between;
        gap: 4px;
        padding: 30.5px 0px;
    }
    .wining-content-arrow{
        display: flex;
        width: 55px;
        height: 55px;
        /* padding: 25px 30px; */
        gap: 10px;
        border-radius: 100px;
        background: rgba(15, 111, 255, 1);
        justify-content: center;
    
    }
    .wining-content-arrow img{
           width: 20px;   
    }
}


@media screen and (min-width:414px)  and (max-width:700px){
    .wining-content-d{
        padding: 40px 20px 48px 20px;
        flex-direction: column;
    }
    .wining-content-right-d{
        width: 100%;
        gap: 10px;
    }
    .wining-content-right-d h2{
        font-size: 36px;
        line-height: 40px;
    }
    .wining-content-right-d h2 span{
        font-size: 36px;
        line-height: 40px;
    }
    .wining-content-right-d p{
        font-size: 16px;
        line-height: 22px;
    }
    .wining-content-left-d{
        width: 134px;
        display: flex;
        justify-content: space-between;
        gap: 4px;
        padding: 0px;
       margin: 0px auto;
    }
    .wining-content-arrow{
        display: flex;
        width: 55px;
        height: 55px;
        /* padding: 25px 30px; */
        gap: 10px;
        border-radius: 100px;
        background: rgba(15, 111, 255, 1);
        justify-content: center;
    
    }
    .wining-content-arrow img{
           width: 20px;   
    }
}

@media screen and (max-width:414px){
    .wining-content-d{
        padding: 40px 20px 48px 20px;
        flex-direction: column;
    }
    .wining-content-right-d{
        width: 100%;
        gap: 10px;
    }
    .wining-content-right-d h2{
        font-size: 24px;
        line-height: 30px;
    }
    .wining-content-right-d h2 span{
        font-size: 24px;
        line-height: 30px;
    }
    .wining-content-right-d p{
        font-size: 14px;
        line-height: 22px;
    }
    .wining-content-left-d{
        width: 110px;
        display: flex;
        justify-content: space-between;
        gap: 4px;
        padding: 0px;
       margin: 0px auto;
    }
    .wining-content-arrow{
        display: flex;
        width: 50px;
        height: 50px;
        /* padding: 25px 30px; */
        gap: 10px;
        border-radius: 100px;
        background: rgba(15, 111, 255, 1);
        justify-content: center;
    
    }
    .wining-content-arrow img{
           width: 20px;   
    }
}
